html,
body {
  padding: 0;
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}

:root {
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
}

p{
  color: white;
  font-size: clamp(10em, 15vw, 12em);
  font-family: "Rubik", sans-serif;
  margin: 0rem;
  font-weight: 400;
  text-align: center;
}