
@keyframes background-pan{
  from{
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}


.container{
  background-color: rgb(10,10,10);
  height: 100vh;
  width: 100vw;
  margin: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p > .magic {
  animation: background-pan 2s linear infinite;
  background: linear-gradient(
  to right,
  var(--purple),
  var(--violet),
  var(--pink),
  var(--purple));
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color:  transparent;
  white-space: nowrap;
}

.subtext{
  font-size: clamp(1em, 1.5vw, 1.5em);
  padding: 0rem;
  margin: 0rem;
}